.account-container {
    background-image: url('../Images/login_background.png');
    background-size: contain;
    background-position: top;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 20rem 0;
}

.account-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 500px;
    height: 500px;
    width: 100%;
    opacity: 0.8;
}